<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wafermanager.mapper.MasterDataMapper">

    <insert id="create" parameterType="master">
        INSERT INTO master (uid, column_a, column_b, column_c, column_d, modified_date)
        VALUES (#{uid}, #{columnA}, #{columnB}, #{columnC}, #{columnD}, #{modifiedDate})
    </insert>

    <select id="read" resultType="master">
        SELECT *
        FROM master
        WHERE uid = #{uid}
    </select>

    <update id="update" parameterType="master">
        UPDATE master
        <set>
            <if test="columnA != null">column_a = #{columnA},</if>
            <if test="columnB != null">column_b = #{columnB},</if>
            <if test="columnC != null">column_c = #{columnC},</if>
            <if test="columnD != null">column_d = #{columnD},</if>
            <if test="modifiedDate != null">modified_date = #{modifiedDate}</if>
        </set>
        WHERE uid = #{uid}
    </update>

    <select id="list" resultType="master">
        SELECT *
        FROM master
        ORDER BY modified_date DESC, uid
        LIMIT #{size} OFFSET ${size * page}
    </select>

</mapper>