<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wafermanager.mapper.PlayerMapper">

    <insert id="create" parameterType="player">
        INSERT INTO player (id, mmr)
        VALUES (#{id}, #{mmr})
    </insert>

    <select id="read" resultType="player">
        SELECT *
        FROM player
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="player">
        UPDATE player
        <set>
            <if test="mmr != null">mmr=#{mmr}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM player
        WHERE id = #{id}
    </delete>

    <select id="getRank" resultType="_int">
        SELECT (COUNT(ID) + 1)
        FROM player
        WHERE mmr > #{player.mmr}
        LIMIT #{total}
    </select>

    <select id="listBelow" resultType="player">
        <![CDATA[

        SELECT a.id, a.mmr
        FROM player a
        WHERE mmr <= #{player.mmr} and id != #{player.id}
        ORDER BY mmr DESC, id
        LIMIT #{limit}

        ]]>
    </select>

    <select id="listAbove" resultType="player">
        <![CDATA[

        SELECT *
        FROM
            (SELECT a.id, a.mmr
            FROM player a
            WHERE mmr >= #{player.mmr} and id != #{player.id}
            ORDER BY mmr, id DESC
            LIMIT #{limit})
        ORDER BY mmr DESC, id

        ]]>
    </select>

    <select id="listTop" resultType="player">
        <![CDATA[

        SELECT a.id, a.mmr
        FROM player a
        ORDER BY mmr DESC, id
        LIMIT #{limit}

        ]]>
    </select>

</mapper>